@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: url("images/abc.jpg");
  background-position: top;
  line-height: 1.5;
  min-height: 100vh;
}

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #005490;
  --orange: #fd8700;
  --green: #0ebb11;
  --yellow: #fdc13d;
  --red: #df0900;
}

/* Typography */

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 4rem;
}

/* Layout */

.container {
  max-width: 80em;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.counter {
  width: 40em;
  padding: 2em;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  border-radius: 15px;
}

/* Buttons */

.buttons {
  margin: 3.5em auto;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 0.75em 1.5em;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 0.75em;
}

.btn-subtract {
  background: var(--orange);
}

.btn-reset {
  background: var(--white);
  color: var(--black);
}

.btn-add {
  background: var(--green);
}

.btn-subtract:hover,
.btn-subtract:focus {
  background: var(--white);
  color: var(--orange);
}

.btn-reset:hover,
.btn-reset:focus {
  background: var(--black);
  color: var(--white);
}

.btn-add:hover,
.btn-add:focus {
  background: var(--white);
  color: var(--green);
}

/* Media Queries */

@media (min-width: 500px) {
  h1,
  h2 {
    font-size: 4.5rem;
  }

  .buttons {
    max-width: 60%;
  }
}

@media (min-width: 900px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  .buttons {
    max-width: initial;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  body {
    background: url("images/kids.jpg") no-repeat;
    background-position: center;
  }
  .counter {
    opacity: 0.95;
  }
}
